In [3]:
import pandas as pd

df = pd.DataFrame({
        'name' : ['ㅁ', 'ㄴ', 'ㅇ', 'ㄹ'],
        'english' : [1,2,3,4],
        'math' : [5,6,7,8]
})

df
df['english']

0    1
1    2
2    3
3    4
Name: english, dtype: int64

In [4]:
sum(df['english'])
sum(df['math'])

sum(df['english']) / 4
sum(df['math']) / 4

6.5

In [12]:
# 데이터프레임 만들기
fruit = pd.DataFrame({
    '제품' : ['사과', '딸기', '수박'],
    '가격' : [1800, 1500, 3000],
    '판매량' : [24, 38, 13]
})

fruit

sum(fruit['가격']) / 3
sum(fruit['판매량']) / 3

25.0

In [13]:
# pip install openpyxl (pandas 기본 엔진이 xlsx 가 아닌 xlrd 일 경우)
df_exam = pd.read_excel('excel_exam.xlsx')  # ./, ../, / = 현재, 상위, 하위 폴더
df_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [7]:
# 엑셀 파일의 첫 행이 변수명이 아닐 경우
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx', header = None) # 파라미터 추가
df_exam_novar

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

In [8]:
# 엑셀 파일에 시트가 여러 개 있는 경우
df_exam = pd.read_excel('excel_exam.xlsx', sheet_name='Sheet1') # 시트명 = Sheet1 시트의 데이터 불러오기
df_exam = pd.read_excel('excel_exam.xlsx', sheet_name=0) # 순서 = (0,1,2) 첫 번째 시트의 "

In [9]:
df_csv_exam = pd.read_csv('exam.csv') # csv 파일 불러오기
df_csv_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [10]:
# 데이터프레임 만들고
fruit.to_csv('fruit.csv') # csv 파일로 저장 - .to_csv 함수
fruit.to_csv('fruit.csv', index=False) # 인덱스 번호 제외하고 저장

fruit = pd.read_csv('fruit.csv') # 내가 저장한 csv 파일 불러오기
fruit

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13