In [ ]:
import pandas as pd
exam = pd.read_csv('exam.csv')
exam

In [ ]:
exam.query('nclass == 1') # nclass 가 1인 행만 출력

In [ ]:
exam.query('nclass == 2')

In [ ]:
exam.query('nclass != 1') # nclass 가 1이 아닌 행 출력

In [ ]:
exam.query('nclass != 3')

In [ ]:
exam.query('math > 50') # math 가 50 보다 큰 행만 출력

In [ ]:
exam.query('math < 50')

In [ ]:
exam.query('english >= 50')

In [ ]:
exam.query('english <= 80')

In [ ]:
exam.query('nclass == 1 & math >= 50') # nclass가 1과 같고 math가 50보다 크거나 같음

In [ ]:
exam.query('nclass == 2 & english >=  80')

In [ ]:
exam.query('math >= 90 | english >= 90') # math가 90보다 크거나 english가 90보다 큼

In [ ]:
exam.query('english < 90 | science < 50')

In [ ]:
exam.query('nclass == 1 | nclass == 3 | nclass == 5') # 1, 3, 5 중 하나라도 참이면 출력

In [ ]:
exam.query('nclass in [1, 3, 5]') # 목록에 해당하는 행 추출

In [ ]:
nclass1 = exam.query('nclass == 1') # 추출한 행으로 데이터 생성
nclass2 = exam.query('nclass == 2')

nclass1 # 데이터 출력
nclass2

In [ ]:
nclass1['math'].mean() # 1반의 수학 점수 평균

In [ ]:
nclass2['math'].mean()

In [ ]:
df = pd.DataFrame(
    {'sex' : ['F', 'M', 'F', 'M'],
     'country' : ['Korea', 'China', 'Japan', 'USA']
    }
)
df # 문자 변수를 이용해 '전체 조건'과 '추출할 문자'에 해당하는 값 추출

In [ ]:
df.query('sex == "F" & country == "Korea"') ## 전체 조건과 추출한 문자의 따옴표는 달라야 함
df.query("sex == 'M' & country == 'China'")

# df.query('sex == 'F'' & country == 'Korea'') 같으면 에러남

In [ ]:
var = 3
exam.query('nclass == @var') # 외부 변수를 이용해 조건에 맞는 행 추출

In [ ]:
pd.set_option('display.max_rows', None) # 모든 행 출력하도록 설정
pd.set_option('display.max_columns',None) # 모든 열 출력 "

pd.reset_option('display.max_rows') # 설정 리셋
pd.reset_option('display.max_columns')

pd.reset_option('all') #모든 설정 리셋

In [67]:
mpg = pd.read_csv('mpg.csv') # 6장 첫 번째 문제
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [ ]:
mpg_displ1 = mpg.query('displ <= 4') # Q1
mpg_displ1['hwy'].mean()

In [66]:
mpg_displ2 = mpg.query('displ >= 5')
mpg_displ2['hwy'].mean()

18.07894736842105

In [72]:
mpg_audi = mpg.query("manufacturer == 'audi'") # Q2
mpg_audi['cty'].mean()

17.61111111111111

In [74]:
mpg_toyota = mpg.query("manufacturer == 'toyota'")
mpg_toyota['cty'].mean()

18.529411764705884

In [80]:
mpg_manu = mpg.query("manufacturer in ['chevrolet', 'ford', 'honda']") # Q3
mpg_manu['hwy'].mean()

22.50943396226415