In [23]:
import pandas as pd

df = pd.DataFrame({
        'name' : ['ㅁ', 'ㄴ', 'ㅇ', 'ㄹ'],
        'english' : [1,2,3,4],
        'math' : [5,6,7,8]})

# 문장 형식 유지

df
df['english']

  name  english  math
0    ㅁ        1     5
1    ㄴ        2     6
2    ㅇ        3     7
3    ㄹ        4     8

In [24]:
sum(df['english'])
sum(df['math'])

sum(df['english']) / 4
sum(df['math']) / 4

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\User\AppData\Local\Temp\ipykernel_8328\571726861.py", line 1, in <module>
    import countflot
ModuleNotFoundError: No module named 'countflot'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 2102, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1310, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1199, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1052, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 953, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1005, in get_records
    style = stack_data.style_with_executing_node(style, self._tb_highlight)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\anaconda3\Lib\site-packages\stack_data\core.py", line 424, in style_with_executing_node
    class NewStyle(style):
  File "C:\Users\User\AppData\Roaming\Python\Python311\site-packages\pygments\style.py", line 91, in __new__
    ndef[4] = colorformat(styledef[3:])
              ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\User\AppData\Roaming\Python\Python311\site-packages\pygments\style.py", line 58, in colorformat
    assert False, "wrong color format %r" % text
AssertionError: wrong color format 'ansiyellow'