In [11]:
import pandas as pd

df = pd.DataFrame({
        'name' : ['ㅁ', 'ㄴ', 'ㅇ', 'ㄹ'],
        'english' : [1,2,3,4],
        'math' : [5,6,7,8]})

# 문장 형식 유지

df
df['english']

0    1
1    2
2    3
3    4
Name: english, dtype: int64

In [21]:
sum(df['english'])
sum(df['math'])

sum(df['english']) /4
sum(df['math']) / 4

6.5