In [36]:
import pandas as pd

df = pd.DataFrame({
        'name' : ['ㅁ', 'ㄴ', 'ㅇ', 'ㄹ'],
        'english' : [1,2,3,4],
        'math' : [5,6,7,8]
})

df
df['english']

0    1
1    2
2    3
3    4
Name: english, dtype: int64

In [37]:
sum(df['english'])
sum(df['math'])

sum(df['english']) / 4
sum(df['math']) / 4

6.5

In [39]:
fruit = pd.DataFrame({
    '제품' : ['사과', '딸기', '수박'],
    '가격' : [1800, 1500, 3000],
    '판매량' : [24, 38, 13]
})

fruit

sum(fruit['가격']) / 3
sum(fruit['판매량']) / 3

25.0

In [50]:
df_exam = pd.read_excel('./excel_exam.xlsx')  # ./, ../, / = 현재, 상위, 하위 폴더
df_exam

sum(df_exam['english']) / 20
sum(df_exam['math']) / 20    # 상수
sum(df_exam['science']) / 20

# df_exam = pd.read_excel('c:/Users/User/kit_bigdata/excel_exam.xlsx') # 디렉터리에 파일이 없을 경우 절대 경로 지정

len(df_exam) # len() : 변수값(행)의 개수 = 20개

sum(df_exam['english']) / len(df_exam)
sum(df_exam['math']) / len(df_exam)    # 변수
sum(df_exam['science']) / len(df_exam)

59.45

In [52]:
# 엑셀 파일의 첫 행이 변수명이 아닐 경우
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx', header = None) # 파라미터 추가
df_exam_novar

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12