In [10]:
import pandas as pd
import numpy as np

In [11]:
# 1

In [12]:
# 1-1
# 거대한 규모 (volume) : 방대한 양의 데이터 (테라, 페타바이트 이상)
# 빠른 속도 (velocity) : 실시간 생성, 빠른 속도로 데이터를 처리/분석
# 높은 다양성 (variety) : 정형(DBMS 등) 및 비정형(영상, 음성, 텍스트 SNS 등)

In [13]:
# 1-2
# 정형 데이터 : 일정한 형식이나 규칙에 맞게 저장된 데이터
# 비정형 데이터 : 정해진 규칙이 없어서 값의 의미를 쉽게 파악하기 힘든 데이터들

In [14]:
# 1-3 
# 데이터 소스 -> 수집 -> 저장 -> 처리 -> 분석 -> 표현

In [15]:
# 1-4 
# 당근마켓 - 게시한 사진의 상품 카테고리 자동 분류, 맞춤형 콘텐츠 추천
# 넷플릭스 - 사용자의 영화 관람 목록에 기초해 새로운 영화를 추천해주는 시스템 개발

In [16]:
# 2

In [17]:
# 2-1
test = pd.DataFrame({
        'index' : [0,1,2,3,4],
        'id' : ['applecarrot', 'sweetsoju', 'chimaek', 'galbiya', 'ninano'],
        'grade' : ['1st','1st','3rd','3rd','2nd'],
        'admin' : [True,False,False,True,False]
})
test[['index','id','grade','admin']]

   index           id grade  admin
0      0  applecarrot   1st   True
1      1    sweetsoju   1st  False
2      2      chimaek   3rd  False
3      3      galbiya   3rd   True
4      4       ninano   2nd  False

In [20]:
# 2-2
k_drama = pd.read_excel('kdrama_test.xlsx')
k_drama

k_drama.query('YearOfRelease >= 2020 & OriginalNetwork == "Netflix"')\
    .agg(k_drama_R = ('Rating','mean'))

             Rating
k_drama_R  8.636364

In [ ]:
# 2-3
k_drama.query("NumberOfEpisodes >= 30")\
       .groupby('ContentRating')\
       .agg(k_drama_Count = ('ContentRating', 'count'))

                         k_drama_Count
ContentRating
13+ - Teens 13 or older              2
15+ - Teens 15 or older             30

In [ ]:
# 2-4
pd.isna(k_drama).sum() # 결측치 확인

k_drama_nomiss = k_drama.dropna(subset=['ContentRating', 'Director', 'Screenwriter', 'ProductionCompanies']) # 각 열에서 결측치 제거
k_drama_nomiss

pd.isna(k_drama_nomiss).sum() # 결측치 제거 확인

Name                   0
AiredDate              0
YearOfRelease          0
OriginalNetwork        0
AiredOn                0
NumberOfEpisodes       0
Duration               0
ContentRating          0
Rating                 0
Synopsis               0
Genre                  0
Tags                   0
Director               0
Screenwriter           0
Cast                   0
ProductionCompanies    0
Rank                   0
dtype: int64